METABASE_DB_PASSWORD=
METABASE_DB_USER=metabase
METABASE_DB_NAME=metabase
SERVICE_ACCOUNT_INFO=
DEBAT_URL=
GCP_PROJECT=
DEPUTES_URL=
BQ_DATASET=
SCRUTINS_URL=
QUESTIONS_ECRITES_URL=
DOSSIERS_LEGISLATIFS_URL=
AMENDEMENTS_URL=
SA_RUNNER_NAME=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_SECRET=airflow-db-password
AIRFLOW_SA=
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=50000
