SERVICE_ACCOUNT_INFO=
DEBAT_URL=
GCP_PROJECT=
GCP_REGION=europe-west1
DEPUTES_URL=
BQ_DATASET=
SCRUTINS_URL=
QUESTIONS_ECRITES_URL=
DOSSIERS_LEGISLATIFS_URL=
AMENDEMENTS_URL=
SA_RUNNER_NAME=
SA_WORKER_NAME=parleman-airflow-worker
DOCKER_REGISTRY=parleman-artifact-repo
STREAMLIT_IMAGE=parleman-streamlit
STREAMLIT_SERVICE=parleman-streamlit
STREAMLIT_PORT=8501
AIRFLOW_IMAGE=parleman-airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_SECRET=airflow-db-password
AIRFLOW_DB_PASSWORD=
AIRFLOW_SA=
AIRFLOW_RUN_SERVICE=parleman-airflow-web
AIRFLOW_RUN_MEMORY=2Gi
AIRFLOW_RUN_CPU=1
AIRFLOW_SCHEDULER_RUN_SERVICE=parleman-airflow-scheduler
AIRFLOW_SCHEDULER_RUN_MEMORY=2Gi
AIRFLOW_SCHEDULER_RUN_CPU=1
AIRFLOW_WEBSERVER_SECRET_KEY=
TERRAFORM_DIR=infra
LOCAL_COMPOSE_FILE=infra/docker-compose.yml
SQL_INSTANCE=parleman-postgres
SQL_DB_VERSION=POSTGRES_16
SQL_EDITION=ENTERPRISE
SQL_TIER=db-custom-2-7680
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=50000
